* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

a {
    text-decoration: none;

}

.container {
    max-width: 1199px;
    margin: auto;
    background-image: url(img/Samar/pic2.png);
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header_content nav {
    display: flex;
    align-items: center;
}

.header_content nav ul {
    display: flex;
    list-style: none;
    margin-right: 30px;

}

.header_content nav ul li {
    padding: 55px 15px;
    color: black;
}

.header_content nav ul li:hover {
    transform: translateY(10px);
    transition: all 0.5s;

}

.header_content nav ul li a {
    color: black;
}

.header_content span {
    display: inline-block;
    margin-top: 20px;
}

.btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    outline: none;
    line-height: 1.2;
}

.btn-gradient:hover {
    background-position: right center;
}

.carousel_content {
    display: flex;
    align-items: center;
}

.title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    color: #262626;
    margin-bottom: 20px;
}

.carousel_left li {
    list-style: none;
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.carousel_article i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.carousel_article button {
    font-size: 16px;
}

.carousel_banner {
    width: 570px;
    margin-left: 50px;
    background-image: url(img/Samar/pic2.png);
}

.carousel_right {
    width: 40%;
}

.services {
    background-image: url(img/Samar/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 100px;
    color: #f55f8d;
}

.title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    color: #262626;
    margin-bottom: 20px;
}

.services_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.services_item img {
    width: 100%;
}

.services_item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all 0.5s;
    border-image: 100 round;
    border: 3px solid transparent;
}

.services_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

.services_item:hover {
    transform: translateY(-20px);
    border-image: url(img/Samar/br.png) 1 round;
}

.aboutUs {
    background-image: url(img/Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.aboutUs_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutUs_Left {
    width: 60%;
    position: absolute;
    left: -17%;

}

.aboutUs_Left img {
    border-radius: 100px;
    width: 100%;
}

.aboutUs_right {
    width: 50%;
}

.aboutUs_right li {
    list-style: none;
}

.title p {
    font-size: 25px;
}

.aboutUs_right p {
    margin-bottom: 15px;
    color: rgb(164, 152, 152);
    font-size: 15px;
    font-weight: 400;
}

.aboutUs_right li {
    margin-bottom: 15px;
    color: rgb(164, 152, 152);
    font-size: 15px;
    font-weight: 450;
}

.aboutUs_right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;

}

.number {
    background-image: url(img/Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number_content {
    display: flex;
    justify-content: space-around;
}

.number_item {
    width: 25%;
}

.number_item i {
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number_item p:first-of-type {
    font-size: 65px;
    font-weight: 600;
    color: #f55f8d;
    line-height: 1;
}

.number_item p:last-of-type {
    color: #262626;
    font-size: 18px;
}

.features {
    background-image: url(img/Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features_content {
    display: flex;
    align-items: center;

}

.features_left {
    width: 50%;
}

.fearures_right {
    width: 50%;
    margin-bottom: 100px;
}

.features_item div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.features_bg {
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features_bg::after {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

.features_item {
    padding: 0px 50px 30px 0px;
}

.features_item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 0.5s;
}

.features_item:hover {
    color: #fff;

}

.features_item i:hover {
    color: #fff;
}

.features_bg:hover::after {
    opacity: 1;
}

.features_item:nth-last-of-type(2) {
    padding: 0px 0px 30px 50px;
}

.fearures_banner img {
    max-width: 100%;
    animation: move2 3s infinite;

}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }

}

.fearures_banner {
    margin-right: -80px;
}

.portfolio_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio {
    background-image: url(img/Samar/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;
}

.portfolio_item1 {
    grid-column: 1 / span 2;
}

.portfolio_item5 {
    grid-column: 1 / span 2;
}

.portfolio_item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.portfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}

.portfolio_icon a {
    cursor: pointer;
    color: #fff;
}

.portfolio_item img {
    width: 100%;
    height: 100%;
}

.portfolio_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.75s;
    color: #fff;
}

.portfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;

}

.portfolio_item:hover:before {
    left: 125%;
}

.portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.75s;
}

.portfolio_item:hover .portfolio_overlay {
    opacity: 1;
}

.portfolio_item:hover .portfolio_icon {
    transform: translate(0);
}

.portfolio_item:hover .portfolio_text {
    transform: translateY(0);
    margin-bottom: -30px;
}

.blog {
    background-image: url(img/Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    display: flex;
    margin-left: 45px;
}

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    user-select: none;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.blog__item {
    text-align: left;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
}

.blog__header {
    position: relative;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.blog__header img {
    width: 100%;
    border-radius: 8px;
}

.blog__header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer p:first-of-type {
    margin-right: 20px;
}

.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog__footer p:first-of-type span {
    color: #f55f8d;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

footer {
    background-image: url(img/Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relati
}
.background{
    position: absolute;
}
footer::before {
    content: "";
    /* background-image: url(img/Samar/pattern2.png); */
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer_form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer_form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all .5s;
}

.footer_form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}

.footer_text {
    width: 50%;
}

.footer_form {
    width: 50%;
}

.footer_top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
    background-image: url(img/Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}

.footer_text h2 {
    color: #0e1b1f;
}

.footer_bottom ul {
    list-style: none;
    margin-bottom: 15px;
}

.footer_item {
    width: 25%;

}

.footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer_item li {
    padding: 0.5rem 0;
}

.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
    align-items: flex-start;
}

.footer_item h3::before {
    width: 15px;
}

.footer_item h3::before,
.footer_item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.footer_item h3::after {
    width: 45px;
    left: 20px;
}

.footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer_contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_contact li {
    display: flex;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer_copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}
.footer_left span {
    color: #f55f8d;
}